---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Fine Art Install Wellington New Zealand Aotearoa Picture Hanging Placement Delivery Art Advisory art install wellington art installation wellington art installers wellington art installation wellington art hanging wellington art placement wellington art delivery wellington art advisory wellington art install new zealand art installation new zealand art installers new zealand art installation new zealand art hanging new zealand art placement new zealand art delivery new zealand art advisory new zealand art install aotearoa art installation aotearoa art installers aotearoa art installation aotearoa art hanging aotearoa art placement aotearoa art delivery aotearoa art advisory aotearoa"
    />
    <meta
      name="google-site-verification"
      content="hBFbyaPg47xhOubo86qMY-KUJsmwNMb2jbKV830hT0E"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /*
  Reset
*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html,
  body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-shadow: -10px 10px 10px hsla(241, 91%, 45%, 0.8);
  }

  h1,
  h2 {
    font-weight: 400;
  }
</style>
